<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
	<link rel="icon" type="image/x-icon" href="/resources/images/favicon.ico">
	<title>Student Management</title>

	<link rel="stylesheet" href="/resources/css/customcss.css"> <!-- CUSTOM css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Boootstrap css CDN -->

	<!-- boootstrap, jquery, angular frameworks -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- JQuery js CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/resources/frameworks/angular/angular.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> AngularJS js CDN -->

	<script src="/resources/js/SaveStudentService.js"></script> <!-- Bootstrap js CDN -->

</head>
<body ng-app="SaveStudent" ng-controller="SaveStudentController">	<!-- AngularJS directive -->
	<a id="Author"></a>

	<!-- Content Page------------->
	<div class="container content">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" style="text-align:center;">
				<h1><small>Please enter student details</small></h1>

				<!-- ANGULARJS SaveStudentService.js -->

				<form ng-submit="createStudent()">
					<div class="form-group" style="text-align:left;">
						<label for="inputname">Name</label>
						<input class="form-control" id="inputname" type="text" ng-model="studentForm.name">
						<br>
						<label for="inputsurname">Surname</label>
						<input class="form-control" id="inputsurname" type="text" ng-model="studentForm.surname">
						<br>
						<button type="submit" class="btn btn-success btn-lg btn-block">
							Save
						</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
	
	<!-- End of Content Page------>
	
	<!-- Page devider div -->
	<div class="pageDevider">
	</div>

	<!-- FOOTER, Include an external file using angular ng-include directive -->
	<div ng-include="'footer.html'"> 
	</div>
	
</body>
</html>
