<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	
	<link rel="icon" type="image/x-icon" href="/resources/images/favicon.ico">
    <title>About</title>

	<link rel="stylesheet" href="/resources/css/customcss.css"> <!-- CUSTOM css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Boootstrap css CDN -->

	<!-- boootstrap, jquery, angular frameworks -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- JQuery js CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap js CDN -->
	<script src="/resources/frameworks/angular/angular.js"></script>

	<script src="/resources/js/ManageStudentService.js"></script> <!-- AngularJS scripts -->

</head>
<body ng-app="ManageStudent" ng-controller="ManageStudentController">	<!-- AngularJS directive -->
	<a id="Author"></a>

	<!-- TOP NAVIGATION Include an external file using angular ng-include directive -->
	<div  ng-include="'topnavigation.html'">
	</div>
	
	<!-- Content Page------------->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" style="text-align:center;">
				<h1><small>Manage student ( s ) : </small><h4><small>Edit | Delete | View</small></h4></small></h1>
				<br>
				<input ng-model="searchText" class="form-control" id="inputsearch" type="text" placeholder="Search by name or surname or combination">
								
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><small>Edit | Delete</small></h4>
					</div>

					<!-- Show all students table -->
					<table class="table" style="text-align:left;">
						<thead>
							<tr>
								<th>ID</th><th>Name </th><th>Surname </th><th colspan="1">Action </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="student in students | filter:searchText"> <!-- loop through all students that were received from angular service-->
								<!--{"name":"","surname":"","score":} -->
								<td> {{ student.id }} </td>	<!-- show ID -->
								<td> {{ student.name }} </td>	<!-- show name -->
								<td> {{ student.surname}} </td>	<!-- show surname -->
								<td><button ng-click="editStudent(student)" type="submit" class="btn btn-warning btn-sm">Edit</button></td>
								<td><button ng-click="deleteStudent(student)" type="submit" class="btn btn-danger btn-sm">Delete</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<hr/>
						
				<form ng-submit="updateStudent()">
					<div class="form-group form-inline" style="text-align:left;">
						<label for="inputname">Name</label> &nbsp; <input ng-model="studentForm.name" class="form-control" id="inputname" type="text">
						&nbsp;&nbsp;
						<label for="inputsurname">Surname</label> &nbsp; <input ng-model="studentForm.surname" class="form-control" id="inputsurname" type="text">
					</div>
					<button type="submit" class="btn btn-warning btn-lg btn-block buttonWarningColor">
						Update
					</button>
				</form>
				
				<hr/>
			</div>
		</div>
	</div>
	<br/>

	<!-- End of Content Page------>
	
	<!-- Page devider div -->
	<div class="pageDevider">
	</div>
	
	<!-- FOOTER, Include an external file using angular ng-include directive -->
	<div ng-include="'footer.html'"> 
	</div>
</body>
</html>