<!-------------------------------------- 
------------ Top Navigation Bar --------
---------------------------------------->
<nav class="navbar  navbar-default" role="navigation">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4">
				<span class="text-center glyphicon glyphicon-map-marker text-muted"> Cape Town |&nbsp; </span></span>
				<span class="text-center  glyphicon glyphicon-info-sign text-muted"> By P.Qhu |&nbsp;</span>
				<span class="text-center glyphicon glyphicon-envelope text-muted"> phelang.qhu@gmail.com |&nbsp;</span>
				<span class="text-center glyphicon glyphicon-earphone text-muted"> +27 (07{{2+1}})4814801</span>
			</div>
		</div>
	</div>
	<span class="line" width=".5" style="align:center">
		<hr>
	</span>
	<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#example-navbar-collapse">
	
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/"><strong>STUDENT</strong><span><strong class="myTitle">ACADEMY</strong></span>
	  </a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="example-navbar-collapse" role="navigation">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="/">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">
				Student Management
			</a>
			
			<ul class="dropdown-menu">
				<li><a href="createstudent.html">Create student</a></li>
				<li><a href="managestudent.html">Manage Student</a></li>
				<li class="divider"></li>
				<li><a href="managestudentscore.html">Manage Score</a></li>
			</ul>
		</li>
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar  -->
<!-- /. End of Navigation bar -->
<!-- End of Top Navigarion -->